@charset "UTF-8";

@font-face {
  font-family: "fond";
  src:url("../fonts/fond.eot");
  src:url("../fonts/fond.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fond.woff") format("woff"),
    url("../fonts/fond.ttf") format("truetype"),
    url("../fonts/fond.svg#fond") format("svg");
  font-weight: normal;
  font-style: normal;

}
