<div class="search-popup-container">
	<form action="" class="search-popup">
		<div class="search">
			<input type="search">
			<div class="search-submit">
				<input type="submit" value="">
			</div>
		</div>
	</form>
</div>
<header id="header">
	<div class="wrapper">
		<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
		<div class="header-top">
			<nav class="header-top-nav">
				<ul>
					<li><a href="#">Новини</a></li>     
					<li><a href="#">Партнери</a></li>      
					<li><a href="#">Контакти</a></li>
				</ul>
			</nav>
			<div class="socials">
				<a class="vk" href="#"></a>
				<a class="rss" href="#"></a>
				<a class="twitter" href="#"></a>
				<a class="facebook" href="#"></a>
				<a class="google" href="#"></a>
			</div>
			<div class="language">
				<a href="#"><img src="../img/uk.png" alt=""></a>
				<a href="#"><img src="../img/en.png" alt=""></a>
			</div>
			<a href="#" class="header-top-buttom">Підтримати фонд</a>
		</div>
		<div class="header-bottom">
			<ul class="header-bottom-menu">
				<li><a href="#">Про фонд</a></li>         
				<li><a href="#">Програми та проекти</a></li>         
				<li><a href="#">Варіанти допомоги</a></li>         
				<li><a href="#">Звітність фонду</a></li>
			</ul>
			<a href="#" class="header-bottom-search"></a>
		</div>
	</div>
</header>